.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

  
.modalStep2 { /* Corrected class name */
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #808080;
    width: 15%;
    border: 1px solid #808080;
    border-radius: 25px;
}

.prompt-label {
    border: 1px solid #808080;
    border-radius: 5px;
    width: 220px;
    height: 25px;
}

.prompt {
    position: relative;
    top: 0px;
    right: 10px;
    font-size: 14px;
}

.your-name {
    font-size: 14px;
    padding: 8px;
    position: relative;
    bottom: 15px;
}

.additional-box {
    background-color: #ffffff;
    border: 0.5px solid #808080;
    border-radius: 25px;
    padding: 25px;
    margin-top: 1px;
}
  
.button {
    border-radius: 25px;
    background: #ADD8E6;
    padding: 10px 20px;
    border: 1px solid #808080;
    position: relative;
    top: 10px;
    left: 50px;
    width: 70px;
    height: 30px;
}

.progress-container {
    width: 100%;
    background-color: #f3f3f3;
}

.progress-bar {
    height: 20px;
    background-color: #4caf50;
    width: 0;
}

.close {
    color: #aaa;
    float: inline-end;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#overall-progress-container {
    margin-top: 20px;
}

#overall-progress-bar {
    width: 0%;
    height: 20px;
    background-color: #4CAF50;
}

#overall-progress-text {
    margin-top: 5px;
}
